@font-face{
        src: url(../fonts/static/Quicksand-Regular.ttf);
        font-family: "QuicksandRegular";
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "QuicksandRegular";
}

html, body{
        height: 100%;
}

.context{
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
}

.flex-row-between{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

.flex-row-around-center{
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.main-header{
        background-color: #b8a398;
        padding: 15px 2%;
}

.main-logo{
        width: 40%;
        max-width: 160px;
}

banner{
        display: block;
        padding: 20px 5%;
        width: 100%;
        height: 500px;
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-position: center;
        animation: changeBg 20s infinite;
        animation-timing-function: ease-out;   
}

@media screen and (max-width: 500px){
      banner{
              height: 400px;
      }
}

@keyframes changeBg{
        0%{
                background-image: url(../images/banner2.jpg);
                background-size: cover;
                background-position: bottom;

        }

        100%{
                background-image: url(../images/banner.jpg);
                background-size: cover;
                background-position: center;  
        }
     
}


.banner-h1{
        background-color: rgba(184, 163, 152, 0.671);
        padding: 15px 4%;
        width: 60%;
        color: #302b28;
}

@media screen and (max-width: 500px){
        .banner-h1{
                width: 90%;
                font-size: 18px;
        }
}

.flex-row-center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
}

@media screen and (max-width: 500px){
        .flex-row-center{
               height: 400px;
        }
}


.section-1{
        padding: 50px 0 0;
}

.section-1 p{
        width: 45%;
        margin-right: 5%;
        text-align: justify;
        font-size: 20px;
}

.section-1 p:last-of-type{
        margin-right: 0;
}

@media screen and (max-width: 500px){
        .section-1 p{
                width: 95%;
                margin: 20px 0;
        }
}

.arrow-icon{
        display: block;
       margin: 0 auto;
       position: relative;
       top: 60px;
}

.border-bottom{
        border-bottom: 1px solid  rgba(184, 163, 152, 0.671);
        padding: 30px;
}

.section-rooms{
        padding: 70px 2%;
        background-color: #b8a398;
}

.title-primary{
        color: #f8f6f5;
        margin: 30px 0;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
}

room{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        border:1px solid  rgba(253, 252, 251, 0.671);
}

room:nth-of-type(2n + 1){
        flex-direction: row-reverse;
}

@media screen and (max-width: 1000px){
        room:nth-of-type(1n+1){
                flex-direction: column-reverse;
                margin-bottom: 15px;
                height: 400px;
        }
}


.text-room{
        width: 30%;
        height: 100%;
        padding: 3%;
        background-color: #e7e5e4;
}

@media screen and (max-width: 1000px){
        .text-room{
                width: 100%;
                height: auto;
        }
}

.text-room p{
        text-align: justify;
}

.photo-room{
        width: 70%;
        height: 100%;
        background-size: cover;
        background-position: center;
}

@media screen and (max-width: 1000px){
        .photo-room{
                width:100%;
        }
}

.living-room{
        background-image: url(../images/sala.jpg);
        
}

.kitchen{
        background-image: url(../images/cozinha.jpg);
        
}

.bedroom{
        background-image: url(../images/quarto.jpg);
        
}

.bathroom{
        background-image: url(../images/banheiro.jpg);
        
}

footer{
        background-color: #887870;
        padding: 40px 2%;
}

.contato p {
        margin: 20px 0;
        text-align: center;
        color: #fff;
}

form{
        width: 100%;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}

form p {
        color: #fff;
        margin-top: 30px;
}

input[type="text"], input[type="email"], textarea{
        display: block;
        margin-bottom: 15px;
}

input[type="text"], input[type="email"]{
        height: 35px;
        line-height: 35px;
        padding: 2px 2%;
}

input[type="text"], input[type="email"], textarea{
        width: 80%;
}

textarea{
        resize: none;
        height: 200px;
        padding: 2px 2%;
}

.botao-enviar{
        background-image: linear-gradient(#eceae8, #c4c1c1);
        width: 30%;
        min-width: 100px;
        height: 40px;
        padding: 10px 2%;
        cursor: pointer;
        border: none;
        font-size: 18px;

}



